.botaoLogar {
    background-color: #baddef;
    border: 1px solid #CC9971;
    color: #0c0707e0;
    border-radius: 6px;
    margin-top: 1rem;
}

.inputLoginSenha {
    border-radius: 6px;
    width: 13rem;
    background-color: white !important;
    border: 1px solid #CC9971 !important;
}

.divLogin{
    margin-bottom: .65rem;
}

.titulo {
    font-family: 'fonteOpenSans', fonteOpenSans;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
@font-face {
    font-family: 'fonteOpenSans';
    src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}