@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/stylePagamento.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<style>
    .pagamentoClass {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qrcode {
        width: 8rem;
    }

    .textosPagamento {
        color: gray;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }



    .qrcodeCopiaEcola{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cronometro {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: gray;
    }

    .textoLoading{
        display: flex;
        align-items: center;
    }

    .textoSobreQrCode{
        margin-bottom: 1rem;
    }

    .loadingClass{
        display:flex;
        flex-direction: column;
    }

    .copieCola{
        display: flex;
        flex-direction: row;
    }

    .botaoCopiaEcola {
        background-color: #baddef;
        border: 1px solid #CC9971;
        color: black;
        border-radius: 6px;
        margin-top: 1rem;
        margin-left: .5rem;
        width: 10rem;
    }


    .inputCopieCola {
        background-color: white;
        border: 1px solid #CC9971;
        color: black;
        border-radius: 6px;
        margin-top: 1rem;
        margin-right: .5rem;
        width: 10rem;
    }
</style>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Pagamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="loadingClass">
                <div class="modal-body textoLoading">
                    Realizando pagamento
                </div>
                <div class="d-flex justify-content-center loadingCarregando">
                    <div class="spinner-border" role="status">
                        <span class="sr-only ">Carregando...</span>
                      
                    </div>
                    
                </div>

            </div>

            <div class="modal-footer">
                <button onclick="finalizarProcesso()" type="button" class="btn btn-primary botaoOk" style="display:none">Ok</button>
            </div>
        
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               
            </div> *@
        </div>
    </div>
</div>

<div class="pagamentoClass">
    <div class="titulo">Pagamento</div>
    @if (ViewBag.Usuario != null)
    {
        <p>Total a pagar: R$ @ViewBag.Usuario.ValorApagar</p>
    }

    <div class="textosPagamento">
        <div>
            Finalize o pagamento para concluir sua reserva.
        </div>
        <div class="textoSobreQrCode">
            Aponte a câmera para QRCode ou copie o código para realizar o pagamento.

        </div>
        
    </div>
    <div class="qrcodeCopiaEcola">
        <div> <img src="@Url.Action("GenerateQrCode", "Pagamento", new { amount = 200.00 })" alt="QR Code" class="qrcode" /></div>
        <div class="copieCola">
            
            <input class="inputCopieCola" />
            <div>
                <button id="" class="botaoCopiaEcola btn btn-three" onclick="realizarPagamento()">Copia e cola</button>
            </div>
        </div>
        <div id="cronometro" class="cronometro">
            Tempo restante: <span id="tempoRestante">02:00</span> 
        </div>
    </div>

  
</div>


<script>

    function realizarPagamento(){
        $('#myModal').modal('show');
    }

    function finalizarProcesso(){
        window.location.href = '@Url.Action("Index", "Home")';
    }

    function closeModal(){
        $('#myModal').modal('hide');
    }

    function iniciarCronometro(duracao, display) {
        var timer = duracao, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;
            
            if (minutes == "03" && seconds == "55") {

                $.ajax({
                    url: '@Url.Action("ConfirmPayment", "Pagamento")',
                    type: 'POST',
                    success: function (data) {
                        $('.textoLoading').text("Reserva realizada com sucesso!");
                        $('.loadingCarregando').css('display', 'none');
                        $('.spinner-border').css('display', 'none');
                        $('.botaoOk').css('display', 'flex');
                    }
                });

            }

            if (--timer < 0) {
                timer = 0;
                // Aqui você pode adicionar código para fazer algo quando o tempo acabar
                // Como desabilitar o botão de pagamento, ou mostrar uma mensagem.
            }
        }, 1000);
    }

    window.onload = function () {
        var cincoMinutos = 60 * 2, 
            display = document.querySelector('#tempoRestante'); // Elemento onde o tempo será exibido
        iniciarCronometro(cincoMinutos, display);
    };
</script>