
@{
    ViewData["Title"] = "FotosVideos";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
@* mudei versão aqui do jquery *@

<h1>Fotos e Vídeos</h1>



<script>

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


